
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./style.css" />
    <title>Accordian Component</title>
  </head>
  <body>
    <div class="accordian">
      <div class="accordian-item">
        <p class="accordian-number">01</p>
        <p class="accordian-title">Where are these chairs assembled?</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="accordian-icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>
        <div class="accordian-discription">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
          </p>
          <ul>
            <li>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium
            </li>
            <li>
              Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
              velit, sed quia
            </li>
            <li>
              I must explain to you how all this mistaken idea of denouncing
              pleasure
            </li>
            <li>
              I must explain to you how all this mistaken idea of denouncing
              pleasure
            </li>
          </ul>
        </div>
      </div>
      <div class="accordian-item active">
        <p class="accordian-number">02</p>
        <p class="accordian-title">How Long do I have to return my chair?</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="accordian-icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>
        <div class="accordian-discription">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
          </p>
          <ul>
            <li>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium
            </li>
            <li>
              Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
              velit, sed quia
            </li>
            <li>
              I must explain to you how all this mistaken idea of denouncing
              pleasure
            </li>
            <li>
              I must explain to you how all this mistaken idea of denouncing
              pleasure
            </li>
          </ul>
        </div>
      </div>
      <div class="accordian-item">
        <p class="accordian-number">03</p>
        <p class="accordian-title">Do you ship to countries outside the EU?</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="accordian-icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>
        <div class="accordian-discription">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
          </p>
          <ul>
            <li>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium
            </li>
            <li>
              Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
              velit, sed quia
            </li>
            <li>
              I must explain to you how all this mistaken idea of denouncing
              pleasure
            </li>
            <li>
              I must explain to you how all this mistaken idea of denouncing
              pleasure
            </li>
          </ul>
        </div>
      </div>
    </div>
  <!-- Code injected by live-server -->
<!-- <script>
	// <![CDATA[  <-- For SVG support
	if ('WebSocket' in window) {
		(function () {
			function refreshCSS() {
				var sheets = [].slice.call(document.getElementsByTagName("link"));
				var head = document.getElementsByTagName("head")[0];
				for (var i = 0; i < sheets.length; ++i) {
					var elem = sheets[i];
					var parent = elem.parentElement || head;
					parent.removeChild(elem);
					var rel = elem.rel;
					if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
						var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
						elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
					}
					parent.appendChild(elem);
				}
			}
			var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
			var address = protocol + window.location.host + window.location.pathname + '/ws';
			var socket = new WebSocket(address);
			socket.onmessage = function (msg) {
				if (msg.data == 'reload') window.location.reload();
				else if (msg.data == 'refreshcss') refreshCSS();
			};
			if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
				console.log('Live reload enabled.');
				sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
			}
		})();
	}
	else {
		console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
	}
	// ]]>
</script> -->
</body>
</html>
