<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./style.css" />
    <title>Carousal Component</title>
  </head>
  <body>
    <div class="carousal-item">
      <img
        class="testimonial-image"
        src="../assets/AkashSingh.jpeg"
        alt="Akash Singh"
      />
      <blockquote class="testimonial">
        <p class="testimonial-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet
          architecto itaque accusantium animi quae dignissimos ducimus a non
          earum qui libero voluptatum, facilis sunt ab veniam vel dolore dolorem
          nostrum.
        </p>
        <p class="testimonial-author">Akash Singh</p>
        <p class="testimonial-designation">
          General Manager, Head of Cloud at TORM
        </p>
      </blockquote>
      <button class="button btn-left">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5L8.25 12l7.5-7.5"
          />
        </svg>
      </button>
      <button class="button btn-right">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          strokeWidth="{1.5}"
          stroke="currentColor"
          class="icon"
        >
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            d="M8.25 4.5l7.5 7.5-7.5 7.5"
          />
        </svg>
      </button>
      <div class="dots">
        <button class="dot dot-active">&nbsp;</button>
        <button class="dot">&nbsp;</button>
        <button class="dot">&nbsp;</button>
        <button class="dot">&nbsp;</button>
      </div>
    </div>
  </body>
</html>
